body{
    margin: 0;
}

.d-flex{
    display: flex;
}

.direction-row{
    flex-direction: row;
}

.direction-col{
    flex-direction: column;
}

.align-center{
    align-items: center;
    align-content: center;
}

.align-start{
    align-content: start;
}

.align-end{
    align-content: end;
}

.align-stretch{
    align-content: stretch;
}

.justify-center{
    justify-content: center;
}

.justify-start{
    justify-content: start;
}

.justify-end{
    justify-content: end;
}

.justify-stretch{
    justify-content: stretch;
}


#app{
    height: 100vh;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 1.2em;
    /* text-align: center; */
}
.overlay-header{
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 1.6em;
    width: 100%; /* Full width (cover the whole page) */
    padding-bottom: 35px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%,  rgba(0,0,0,0) 90%);
}

.overlay-header h1{
    font-size: 2em;
    padding: 0;
    margin-bottom: 10px;
}
.overlay-header span{
    padding-bottom: 10px;

}

.blur{
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}