*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

.d-flex{
    display: flex;
}

.content{
    width: 100%;
    display: flex;
    /* flex-grow: 1; */
    /* justify-content: center; */
    /* align-items: center; */
    margin: 0;
    flex-direction: column;
    /* padding: 0px 150px; */
}


.direction-row{
    flex-direction: row;
}

.direction-col{
    flex-direction: column;
}

.align-center{
    align-items: center;
    align-content: center;
}

.align-start{
    align-content: start;
}

.align-end{
    align-content: end;
}

.align-stretch{
    align-content: stretch;
}

.justify-center{
    justify-content: center;
}

.justify-start{
    justify-content: start;
}

.justify-end{
    justify-content: end;
}

.justify-stretch{
    justify-content: stretch;
}


#app{
    height: 100vh;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 1.2em;
    color: #fff;
    margin:0;
    /* text-align: center; */
}
.spc-between{
    justify-content: space-between;
} 
.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.3);
}

#home{
    height: 100%;
    width: 100%;
}

.overlay-header{
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 1.6em;
    width: 100%; /* Full width (cover the whole page) */
    padding-bottom: 35px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.65) 0%,  rgba(0,0,0,0) 100%);
}

.overlay-header h1{
    font-size: 1.3em;
    padding: 0;
    margin-bottom: 0;
}
.overlay-header span{
    padding-bottom: 10px;

}

.blur{
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}


.quote-container{
    text-align: center;
    font-size: 1.0rem;
    width: 80%;
    padding-bottom: 100px;
    /* background: linear-gradient(0, rgba(0, 0, 0, 0.3) 0%,  rgba(0,0,0,0) 90%); */
}

.text-align-right{
    text-align: right;   
}

.text-align-left{
    text-align: left;   
}
.padding-10{
    padding: 10px;
}
.text-align-center{
    text-align: center;   
}

.weather-icon{
    display: inline;
}

.capitalize-first::first-letter{
    text-transform: capitalize;
}

@media screen and (max-width: 600px) {
    .weather-icon img{
        display: none;
    }

    .quote-container{
        font-size: 0.8rem;
    }
}


.time-show{
    background-size: cover;
    background-image: url('/images/default.jpg');
}
  
.drizzle{
    background-image: url('/images/drizzle.jpg');
}

.snow{
    background-image: url('/images/snow.jpg');
}

.mist{
    background-image: url('/images/mist.jpg');
}

.smoke{
    background-image: url('/images/smoke.jpg');
}

.haze{
    background-image: url('/images/dust.jpg');
}

.dust{
    background-image: url('/images/dust.jpg');
}

.fog{
    background-image: url('/images/fog.jpg');
}

.sand{
    background-image: url('/images/sand.jpg');
}

.ash{
    background-image: url('/images/ash.jpg');
}

.squall{
    background-image: url('/images/squall.jpg');
}

.tornado{
    background-image: url('/images/tornado.jpg');
}

.clear{
    background-image: url('/images/clear-sky-02.jpg');
}

.clouds{
    background-image: url('/images/cloudy.jpg');
}

.rain{
    background-image: url('/images/rainy-sky.jpg');
}

.thunderstorm{
    background-image: url('/images/thunderstorm.jpg');
}
